$main-font: 'open-sans-regular', sans-serif;
$main-font-bold: 'open-sans-bold', sans-serif;
$main-font-bold-italic: 'open-sans-bold-italic', sans-serif;
$main-font-semibold: 'open-sans-semibold', sans-serif;
$second-font: 'source-sans-pro-regular', sans-serif;
$second-font-bold: 'source-sans-pro-bold', sans-serif;
$second-font-semibold: 'source-sans-pro-semibold', sans-serif;
$third-font: 'lato-regular', sans-serif;
$third-font-italic: 'lato-italic', sans-serif;
$third-font-bold-italic: 'lato-bold-italic', sans-serif;

$rem-fallback: true;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$max-screen-xs: 575px;
$max-screen-sm: 767px;
$max-screen-md: 991px;
$max-screen-lg: 1199px;

$white: #fff;
$dusty-gray: #999;
$cinnabar-main: #e74c3c;
$cinnabar-second: #e74e3e;
$whisper: #f4f5f9;
$dove-gray: #6a6a6a;
$black: #000;
$mine-shaft-main: #1f1f1f;
$mine-shaft-second: #292929;
$mine-shaft-third: #202020;
$mine-shaft-fourth: #303030;
$heavy-metal: #0b0c0b;
$pampas: #f1ebe7;
$cerulean: #00aced;
$gull-gray: #a1b1bc;
$red: #f00;
$cloud: #cbc6c0;
$iron: #d8d9db;
$athens-gray: #e6e7eb;
$yellow: #ff0;
$abbey: #4a4c55;

$black-and-opacity-7: rgba(0, 0, 0, 0.7);
$black-and-opacity-25: rgba(0, 0, 0, 0.25);
$white-and-opacity-25: rgba(255, 255, 255, 0.25);

$bg-c-body: $white;
$c-body: $whisper;
$c-h1: $whisper;
$c-h2: $dove-gray;
$c-h3: $whisper;
$c-h4: $whisper;
$c-h5: $dove-gray;
$c-h6: $cloud;
$c-p: $dusty-gray;
$c-a: $white;
$c-nav-link: $dusty-gray;
$c-nav-link-pseudo-class: $cinnabar-main;
$c-placeholder: $dusty-gray;
$bg-c-span: $cinnabar-main;
$b-c-hr: $iron;
$bg-c-header-carousel: $black;
$c-header-carousel-arrows: $mine-shaft-fourth;
$bg-c-header-carousel-arrows: $white;
$bg-c-header-carousel-arrows-hover: $cinnabar-main;
$c-header-carousel-arrows-hover: $white;
$b-c-header-carousel-design-pseudo-class: $pampas;
$b-c-btn-outline: $white;
$bg-c-btn-active: $cinnabar-main;
$c-btn-active-hover: $white;
$bg-c-btn-active-hover: $cinnabar-main;
$c-btn-circle: $cinnabar-main;
$bg-c-btn-circle: $whisper;
$c-icons: $cinnabar-main;
$b-c-icons: $dusty-gray;
$b-c-icons-hover: $cinnabar-main;
$c-icons-title-hover: $cinnabar-main;
$b-c-icons-title-pseudo-element: $dove-gray;
$bg-c-second-title-pseudo-element: $cinnabar-main;
$bg-c-section-second: $whisper;
