.section-third {
    position: relative;

    &-wrap {
        background-color: $bg-c-section-third;
    }

    &-title {
        position: absolute;
        top: 0;
        left: 40%;
    }
}

.section-third-carousel-slide-item {
    &:last-child {
        width: 100%;
        height: auto;
        background-image: url(../img/section-third-img.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
}
